<div class="box">
  <h2 class="title is-2 mb-5 has-text-centered-mobile">Two Factor Verification</h2>

  <%= form_for @changeset, "#", [phx_submit: :phone_number_validate], fn f -> %>
    <div class="field">
      <%= label f, :two_factor_code, "Enter the six-digit authentication code", class: "label" %>

      <div class="control">
        <%= text_input f, :two_factor_code,
          inputmode: "numeric",
          pattern: "[0-9]*",
          autocomplete: "one-time-code",
          required: true,
          class: "is-medium #{input_classes(f, :two_factor_code)}"
        %>
      </div>

      <%= error_tag f, :two_factor_code %>
    </div>

    <div class="buttons is-right mt-6">
      <%= submit "Enable", class: "button is-secondary" %>
    </div>
  <% end %>

  <hr class="has-background-grey-lighter" />

  <p class="content">
    Didn't get the code? <%= link "Resend", to: "#", phx_click: "resend" %>
  </p>
</div>
