@import "variables.scss";
@import "bulma";
@import "overrides.scss";
@import '~font-awesome/css/font-awesome.css';

.button-col {
  align-self: flex-end;
}

.qrcode {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.two-factor-verify-input {
  width: 150px;
}
.oauth {
  text-align: center;

  .buttons {
    line-height: 0.8;

    a:first-child {
      margin: 0 1.5rem 0 0;
    }

    a {
      width: 40px;
      height: 40px;
      font-size: 2.5rem;

      &.github {
        color: #000;
      }

      &.google {
        color: #E43E2B;
      }
    }
  }
}