@import "variables.scss";
@import "bulma";
@import "overrides.scss";

html {
  background-color: #f5f5f5;
}

.box {
  border-radius: 12px;
  box-shadow: none;
  padding: 2em 1.5rem;
}

.label {
  font-weight: 300;
}
