<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= csrf_meta_tag() %>

    <%= live_title_tag assigns[:page_title] || "Accounts", suffix: " · System76" %>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/styles/main.css") %>"/>

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/scripts/main.js") %>"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
