<div class="box">
  <h2 class="title is-2 mb-5 has-text-centered">Expired Verification Code</h2>

  <div class="content has-text-centered">
    <p>This verification code has expired.</p>
  </div>
</div>
