name: Continuous Integration

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - 'master'
jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Build
        run: make build

  Test:
    runs-on: ubuntu-latest

    container:
      image: elixir:1.9-alpine

    services:
      mysql:
        image: mysql:5.7.24
        env:
          MYSQL_ROOT_PASSWORD: recognizer

      redis:
        image: redis

    steps:
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Install Dependencies
        run: |
          apk add --no-cache gcc g++ git imagemagick libmcrypt-dev make musl-dev
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: mix test
        env:
          DB_HOST: mysql
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
          REDIS_HOST: redis
          REDIS_PORT: ${{ job.services.redis.ports[6379] }}

  Linting:
    runs-on: ubuntu-latest

    container:
      image: elixir:1.9-alpine

    steps:
      - name: Checkout Code
        uses: actions/checkout@v1

      - name: Install Dependencies
        run: |
          apk add --no-cache gcc g++ git libmcrypt-dev make musl-dev
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Formatter
        run: mix format --check-formatted

      - name: Run Credo
        run: mix credo
